body {
    background-color: #CCC;
}

.container {
    display: flex;
    width: 100%;
    background-color: white;
}

.box {
    height: 100px;
    flex-grow: 1;
    flex-basis: 300px;
}

.first {
    background-color: red;
    order: 3;
}
.second {
    background-color: green;
    order: 1;
}
.third {
    background-color: blue;
    order: 2;
}