body {
    background-color: #CCC;
}

.container {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-around;
}

.box {
    height: 100px;
    width: 100px;
}

.first {
    background-color: red;
}
.second {
    background-color: green;
}
.third {
    background-color: blue;
}